<!DOCTYPE html>
<html>
<head>
  <title>FbOmniAuth</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
    <%= image_tag "facebook2.jpg", size: "250x250"%>
<% else %>
    <p align="center"><%= image_tag "login.jpg", size: "250x100"%></p>
<% end %>

<%= yield %>

</body>
</html>
